<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur mon site</title>
</head>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>My Blog HomePage</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: JetBrains Mono;
            background-color: #939393;
        }

        h1 {
            font-size: 48px;
            color: hsl(0, 0%, 0%);
        }
    </style>
</head>
<body>
    <h1>My Blog HomePage</h1>
</body>
</html>
